@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


section{
    height: 100%;
    
}
h1, h2, h3,h4,h5,h6,span{
    font-family: 'Playball', cursive;
    font-weight: bolder;

}
p, ul, .btn {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    
}
span, a{
    color: black;
}


.brand{
    height: 10 0px;
    width: 130px;
    margin-left: 20px;
}
#nav{
    font-weight: bold;

}