@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap');
section{
    height: 100%;
    
}
p{
    font-family: 'Crimson Text', serif;
    
}


.brand{
    height: 10 0px;
    width: 130px;
    margin-left: 20px;
}
#nav{
    font-weight: bold;

}